body{
    margin: 0;
    padding: 0;
}

header{
    font-size: 28px;
}

main{
    border: 1px solid black;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 45vh;
    max-height: 45vh;
}

button{
    position: absolute;
    display: inline-block;
    margin: 40vh 2vw;
}